.titulo{
  color: #977F2F;  
  padding-top: 2%!important;
}

.d-block {
  margin-top: 10px;
  height: 65vh;
}

.text{
  color: black;
}

.princi{
  color: #977F2F;
  font-family: Roboto, sans-serif;
  font-size: large;
}

.grafi{
  margin-top: 10px;
  color: #977F2F;
}

.parr{
  color: #fff;
  margin-top: 20px;
  text-align: left;
}